Repository Company-of-Things/deploii-library, pull requests merged in 2025-09, with the labels that each got.

#52 Fix: undefined macros
  src/deploii_config.h
Labels: type: bug, board: esp32, board: arduino uno wifi r4

#54 feat: arduino mkr wifi 1010 initial
  library.properties
  src/deploii.h
  src/deploii_config.h
  src/handler/arduino_samd_mkr_wifi_1010/deploii_handler_arduino_samd_mkr_wifi_1010.h
  src/handler/deploii_handler.h
Labels: board: arduino mkr 1010 wifi

#56 Update README for release 0.2.0
  README.md
  library.properties
Labels: type: chore, type: docs

#57 feat: better log messages
  src/handler/arduino_samd_mkr_wifi_1010/deploii_handler_arduino_samd_mkr_wifi_1010.h
  src/handler/arduino_uno_r4_wifi/deploii_handler_arduino_uno_r4_wifi.h
  src/handler/esp32/deploii_handler_esp32.h
Labels: type: chore, board: esp32, board: arduino uno wifi r4, protocol: WS, protocol: HTTP, board: arduino mkr 1010 wifi

#63 feat: receive HTTP data on MKR 1010
  README.md
  library.properties
  src/deploii_config.h
  src/handler/arduino_samd_mkr_wifi_1010/deploii_handler_arduino_samd_mkr_wifi_1010.h
Labels: type: feature, protocol: HTTP, board: arduino mkr 1010 wifi
